<p>header works!</p>
<header>
    <h1>The Daily Herald</h1>
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/general-news">Noticias Generales</a>
      <link rel="stylesheet" href="https://www.nytimes.com/international/?action=click&region=Editions&pgtype=Homepage">
      <link rel="stylesheet" href="https://www.nytimes.com/es/?redirect_uri=https%3A%2F%2Fwww.nytimes.com%2Finternational%2F%3Faction%3Dclick%26region%3DEditions%26pgtype%3DHomepage">
      <link rel="stylesheet" href="https://www.nytimes.com/ca/section/world">
      <link rel="stylesheet" href="https://www.nytimes.com/ca/section/us">
      <link rel="stylesheet" href="https://www.nytimes.com/ca/section/politics">
      <link rel="stylesheet" href="https://www.nytimes.com/ca/section/science">
      <link rel="stylesheet" href="https://www.nytimes.com/ca/section/sports">

      <!-- Agrega aquí más enlaces a otras secciones si lo deseas -->
    </nav>

  </header>
  
